<!DOCTYPE html>

<html>
<head>
  <title>Home Page</title>
  <style>
    body {
      background-color: #CCFFFF;
      font-size: 1em;
    }
    p	{
      color: #8F476B;
    }
    #education	{
      border: dotted red;
      padding: 2em;
    }
  </style>
</head>

<body>

  <h1>Welcome to my Homepage!!</h1>

<p>This is my first Ruby on Rails app that I am making via the Udemy course. Below, I have linked a few of my favorite sites for you to follow.</p>
  <div id="education">

  <h2>Favorite Sites</h2>
  <ul>
    <li><a href="http://imgur.com"> Imgur </a></li>
    <li><a href="http://theskepticsguide.org"> Skeptic's Guide to the Universe </a></li>
    <li><a href="http://thinkgeek.com">Think Geek</a></li>
  </ul>
  </div>

</body>
</html>

<%= link_to 'About', about_path %>